<header class="masthead">
  <hr class="mast-rule mast-rule--top">
  <div class="utility-bar">
    <span class="utility-motto">{{ .Site.Params.motto }}</span>
    <span class="utility-location">ST. LOUIS, MISSOURI</span>
    <span class="utility-update">UPDATED THROUGHOUT THE WEEK</span>
  </div>
  <h1 class="mast-title"><a href="{{ "/" | relURL }}">WeirdSTL</a></h1>
  <p class="mast-tagline">ST. LOUIS &middot; STRANGE AND OVERLOOKED</p>
  <div class="mast-descender-mask"></div>
  <hr class="mast-rule mast-rule--bottom">
</header>
